.list_item{
    display: flex;
    flex-direction: row;
}

.list_item_column_title{
    flex: 0 0 15%;
}

.list_item_column_column{
    text-align: center;
    flex: 0 0 15%;
}

.list_item_column_title{
    text-align: right;
    flex: 0 0 15%;
}